[defaults]
gathering = explicit
inventory = inv.yml
retry_files_enabled = False
deprecation_warnings = False

# Note there are security risks with this setting see https://docs.ansible.com/ansible/latest/user_guide/connection_details.html
# Paramiko sometimes will not like unknown host keys but I have yet found a good work around yet.
host_key_checking = False

# Ansible 2.5.0 or later can automatically start using this format without installing custom plugins.
# stdout (debug.msg) use JSON format by default this would put it in YAML
stdout_callback = yaml

# Ansible allows you to create filter plugins which can be python scripts that allow you to expand the customiblity 
# of your playbooks and templates. Normally Ansible will look for the filter plugin in a folder named 'filter_plugins'
# located in the same directory that your playbook is located in. In this repository I keep the playbooks in a folder
# call 'playbooks'. However I don't want to nest the plugins in the playbooks directory so you can actually set the location of the 
# in the 'ansible.cfg file' to tell ansible to look for the filter in this new directory location.
#filter_plugins = ./filter_plugins

